*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
input{
    outline: none;
}
.container{
    width: 100%;
    height: 100%;
}
.header{
    border-bottom: 2px solid #2bb8aa;
    min-width: 980px;
    color: #666; 
}
.wrapper{
    margin: 0 auto;
    padding: 10px 0;
    width: 980px;
    overflow: hidden;
}
.wrapper .site-logo{
    text-indent: -1000px;
    overflow: hidden;
    width: 54px;
    height: 36px;
    float: left;
    background-position: -669px -748px;
    background-image: url(../img/loginimg/fb0e679dcfbda46458fc766adca2650a_sp-normal.2ee5c09.png);
}
.login-block{
    float: right;
    line-height: 36px;
}
.login-block .tip{
    margin-right: 10px;
    vertical-align: sub;
}
.login-block .btn-small{
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
    background-color: #2db3a6;
    background-size: 100%;
    background-image: linear-gradient(to bottom,#2ec3b4,#2db3a6);
}
.login-block .btn-small:hover{
    border-color: #008177;
}
.btn-normal:hover{
    color: #333;
    background-color: #e9e9e9;
    border: 1px solid #e5e5e5;
    border-bottom: 1px solid #b3b3b3;
    background-size: 100%;
    background-image: linear-gradient(to bottom,#fff,#e9e9e9);
}
.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px 6px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;
    border-width: 0 0 1px;
    border-style: solid;
    background-repeat: repeat-x;
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.content{
    margin: 0 auto 30px;
    padding-top: 30px;
    width: 980px;
    min-height: 300px;
}
.term{
    position: relative;
    padding: 3px 10px 3px 110px;
    margin: 0 auto 8px;
    zoom: 1;
}
.term a{
    color: #2bb8aa;
}
.term a:hover{
    text-decoration: underline;
}
.f1{
    font-size: 13px;
}

.form-field{
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
}
.form-field label{
    position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.form-field .f-text{
    width: 248px;
    height: 24px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
}
.unitive-tip{
    display: inline-block;
    margin-left: 4px;
    padding: 6px 0;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    vertical-align: top;
    zoom: 1; 
}
.form-field-vbtn{
    padding: 0 0 0 110px;
}
.form-field-vbtn label{
    display: none;
}
.form-field img{
    border: 1px solid #CCC;
    cursor: pointer;
}
.captcha-refresh {
    margin: 0 0 0 4px;
    font-size: 12px;
    line-height: 36px;
    vertical-align: top;
    zoom: 1;
}
.inline-tip{
    display: inline-block;
    margin-left: 4px;
    padding: 6px 0;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    vertical-align: top;
    zoom: 1;
}
.verify-wrapper{
    overflow: hidden;
}
.btn-mini{
    padding: 1px 8px 0;
    font-size: 12px;
    font-weight: 400;
    -webkit-font-smoothing: initial;
}
.btn-normal{
    color: #333;
    background-color: #dedede;
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #aaa;
    background-size: 100%;
    background-image: linear-gradient(to bottom,#f7f7f7,#dedede);
}
.duanxin{
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
}
.duanxin label {
    position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
    cursor: default;
}
.duanxin input{
    width: 248px;
    height: 24px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
}
.pw{
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
    padding-bottom: 27px;
}
.pw .pw-strength {
    position: absolute;
    width: 260px;
    top: 50px;
    left: 110px;
    background: #eee;
}
.pw .pw-strength .pw-strength-bar {
    background: #d3ebee;
    height: 20px;
    width: 260px;
    overflow: hidden;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
}
.pw .pw-strength .weak{
    width: 85px;
    background: #f76120;
}
.pw .pw-strength .normal{
    width: 172px;
    background: #ff8900;
}
.pw .pw-strength .strong{
    width: 260px;
    background: #5bab3c;
}
.pw .pw-strength .pw-strength-letter {
    position: absolute;
    top: 0;
    left: 0;
}
.pw .pw-strength .pw-strength-letter .pw-strength-label {
    display: block;
    float: left;
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 85px;
    border-right: 2px solid #fff;
    color: #fff;
}
.pw .pw-strength .pw-strength-letter .qing{
    border-right: 0;
}
.pw label {
    position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.pw input{
    width: 248px;
    height: 24px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
}
.pw2{
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
}
.pw2 label {
    position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.pw2 input{
    width: 248px;
    height: 24px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
}
.queren{
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
}
.queren .tongyi{
    background-color: #2db3a6;
    background-size: 100%;
    background-image: linear-gradient(to bottom,#2ec3b4,#2db3a6);
    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px 6px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;
    border-width: 0 0 1px;
    border-style: solid;
    background-repeat: repeat-x;
    border-radius: 2px;
    border-color: #008177;
    color: #fff;
    *zoom: 1;
    user-select: none;
    cursor: pointer;
}
.queren .tongyi:hover{
    background-color: #2eb7aa;
    background-size: 100%;
    background-image: linear-gradient(to bottom,#2bb8aa,#2eb7aa)
}
footer {
    border-top: 1px solid #EEE;
    padding-top: 20px;
    text-align: center;
}
footer .copyright {
    font-size: 12px;
    font-family: initial;
}
footer .copyright a, footer .copyright span {
    color: #999;
}
footer .copyright a:hover{
    text-decoration: underline;
}
.inline-tip{
    color: #666;
    display: inline-block;
    margin-left: 4px;
    padding: 6px 0;
    line-height: 24px;
    font-size: 12px;
    vertical-align: top;
    zoom: 1;
    visibility: hidden;
}
.inline-tip i{
    width: 17px;
    height: 17px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: -3px;
    display: inline-block;
    background-image: url(../img/loginimg/2.png);
    background-repeat: no-repeat;
    background-position: 0 -296px;
}
.inline-tip .success{
    background-position: 0 -453px;
}
